<!DOCTYPE html>
<html>
  <head>
    <title>IdeaFactory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
       <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="<%= ideas_path %>" style="color: #0d6efd; margin-left: 1em">Idea Factory</a>

  <div class="navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto ">
      <% if user_signed_in? %>
        <li class="nav-item">
         Hello <%= current_user.first_name %>
        </li>
        <li class="nav-item">
          <div><%= button_to "Log out", session_path, method: :delete, class: "btn btn-danger" %></div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_idea_path %>" style="">New Idea</a>
        </li>
      <% end %>
      <% if !user_signed_in? %>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_session_path %>" style="">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_user_path %>" style="">Sign Up</a>
      </li>
      <% end %>

    </ul>
  </div>
</nav>

<div class="container">
    <% flash.each do |type, message| %>
      <div class="alert alert-info" role="alert">
        <%= type + "------" + message %>
      </div>
    <% end %>
</div>

    <%= yield %>
  </body>
</html>
